<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hu.textualmodeler.editor.TextualModelEditor"
            default="true"
            extensions="grammar"
            id="hu.textualmodeler.editor.grammar"
            name="Grammar editor">
      </editor>
   </extension>

</plugin>
