language: java
jdk: openjdk7
script: mvn integration-test
env:
  global:
    - GIT_NAME="Balazs Grill"
    - GIT_EMAIL=balage.g@gmail.com
    - secure: "SZytRDjpv8Xa84Lib0DFDNagJ0fl/u5sJn3Ow3zh+E4I4ItM2kalV/TxEv9fVYlmlzdpJ6VUAOgomcWovbh3pSwcNFuo//SBRDzONtXkuOTB4dbgdj2sggcu5GGFDQx8RBcM6fsEFUBG7GlsD4T2WQTdOgmvipVPSZDv1WGDDn8="
branches:
  only:
    - master
after_success:
  - mkdir gh_pages
  - cd gh_pages
  - ssh -o StrictHostKeyChecking=no github.com
  - git clone -b gh-pages https://$GH_TOKEN@github.com/balazsgrill/textualmodeler.git
  - git fetch
  - git remote add deploy https://$GH_TOKEN@github.com/balazsgrill/textualmodeler.git
  - "[ -d \"site\" ] && rm site"
  - mkdir site
  - cp ../hu.textualmodeler.site/target/repository/* site
  - git add site
  - git commit "Publish update site"
  - git push deploy
