<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="hu.temon.grammars" name="Grammar definition models" schema="schema/hu.temon.grammars.exsd"/>
   <extension
         point="hu.temon.grammars">
      <grammar
            id="basics"
            model="grammars/basics.grammar.xmi">
      </grammar>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="hu.temon.parser.grammar.GrammarResourceFactory"
            type="grammar">
      </parser>
   </extension>

</plugin>
