<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated temon -->
      <package
            uri="http://temon.hu/ast"
            class="hu.temon.ast.AstPackage"
            genModel="model/temon.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated temon -->
      <package
            uri="http://temon.hu/grammar"
            class="hu.temon.grammar.GrammarPackage"
            genModel="model/temon.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated temon -->
      <package
            uri="http://temon.hu/tokens"
            class="hu.temon.tokens.TokensPackage"
            genModel="model/temon.genmodel"/>
   </extension>

</plugin>
