<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated textualmodeler -->
      <package
            uri="http://textualmodeler.hu/ast"
            class="hu.textualmodeler.ast.AstPackage"
            genModel="model/textualmodeler.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated textualmodeler -->
      <package
            uri="http://textualmodeler.hu/grammar"
            class="hu.textualmodeler.grammar.GrammarPackage"
            genModel="model/textualmodeler.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated textualmodeler -->
      <package
            uri="http://textualmodeler.hu/grammar/scope"
            class="hu.textualmodeler.grammar.scope.ScopePackage"
            genModel="model/textualmodeler.genmodel"/>
   </extension>

</plugin>
