<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated people -->
      <package
            uri="http://people/1.0"
            class="people.PeoplePackage"
            genModel="model/people.genmodel"/>
   </extension>

</plugin>
