<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.textualmodeler.query.terminal"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.TerminalQuerySpecification$Provider"
            id="hu.textualmodeler.query.terminal">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.START"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.STARTQuerySpecification$Provider"
            id="hu.textualmodeler.query.START">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.Content"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.ContentQuerySpecification$Provider"
            id="hu.textualmodeler.query.Content">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.Content_1"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.Content_1QuerySpecification$Provider"
            id="hu.textualmodeler.query.Content_1">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.Content_2"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.Content_2QuerySpecification$Provider"
            id="hu.textualmodeler.query.Content_2">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.Human_1"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.Human_1QuerySpecification$Provider"
            id="hu.textualmodeler.query.Human_1">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.Human_2"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.Human_2QuerySpecification$Provider"
            id="hu.textualmodeler.query.Human_2">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.Human"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.HumanQuerySpecification$Provider"
            id="hu.textualmodeler.query.Human">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.People"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.PeopleQuerySpecification$Provider"
            id="hu.textualmodeler.query.People">
      </matcher>
   </extension>
   <extension
         id="hu.textualmodeler.query.People_1"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.textualmodeler.query.util.People_1QuerySpecification$Provider"
            id="hu.textualmodeler.query.People_1">
      </matcher>
   </extension>

</plugin>
